.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ff0000;
    color: black;
}

.topnav a.active {
    background-color: #ff0000;
    color: white;
}

h3 {
   color: red;
}

p {
  color: red;
}

body {
    background-color: #a1c0ed;
    text-align: left;
}

img {
  float: right;
  width: 600px;
  margin: 10px;
  border-color: #1dc90a;
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
}

h1 {
   color: red;
   font-family: monospace;
}

h4 {
   color: #f900dc;
   font-family: 'Baloo Bhaijaan', cursive;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -40%
}

text-wrapper h3 {
    text-align: center;
    color: #ff0000;
}

p {
    font-size: 20px;
}

table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
}
